<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01 - 01</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>patterns</key>
		<array>
			<string>001</string>
			<string>002</string>
			<string>003</string>
			<string>004</string>
		</array>
		<key>patternRandom</key>
		<false/>
	</dict>
	<key>01 - 02</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 03</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 04</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<real>1.25</real>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 05</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>3</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>3</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>3</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 06</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>4</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>4</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>4</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 07</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>4</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>4</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>4</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>4</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 08</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>5</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>5</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>5</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>5</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 09</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 10</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 11</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 12</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 13</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 14</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>01 - 15</key>
	<dict>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>2</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
