<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<dict>
		<key>id</key>
		<string>01_01</string>
		<key>map</key>
		<string></string>
		<key>backgroundMusic</key>
		<string></string>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>101</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>102</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>103</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>104</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>105</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>id</key>
				<string>106</string>
				<key>level</key>
				<integer>1</integer>
				<key>targetRatio</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>301</string>
				<key>level</key>
				<integer>15</integer>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>411</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
