<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<dict>
		<key>minColumns</key>
		<integer>4</integer>
		<key>maxColumns</key>
		<integer>4</integer>
		<key>minIteration</key>
		<integer>3</integer>
		<key>maxIteration</key>
		<integer>3</integer>
		<key>minOrb</key>
		<integer>1</integer>
		<key>maxOrb</key>
		<integer>1</integer>
		<key>patterns</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>-2</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>-1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>-1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>-3</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<key>002</key>
	<dict>
		<key>patterns</key>
		<array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>2</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>2</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>2</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>2</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>-1</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>-1</integer>
				<integer>0</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>-1</integer>
			</array>
		</array>
	</dict>
	<key>003</key>
	<dict>
		<key>patterns</key>
		<array/>
	</dict>
	<key>004</key>
	<dict>
		<key>minColumns</key>
		<integer>2</integer>
		<key>maxColumns</key>
		<integer>2</integer>
		<key>minIteration</key>
		<integer>5</integer>
		<key>maxIteration</key>
		<integer>5</integer>
		<key>minOrb</key>
		<integer>4</integer>
		<key>maxOrb</key>
		<integer>4</integer>
		<key>patterns</key>
		<array>
			<array>
				<integer>1001</integer>
				<integer>1001</integer>
				<integer>1001</integer>
				<integer>1001</integer>
			</array>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
		</array>
	</dict>
	<key>RandomOrbs</key>
	<dict>
		<key>1001</key>
		<array>
			<integer>1</integer>
			<integer>2</integer>
		</array>
	</dict>
</dict>
</plist>
