<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>001</string>
	<key>money</key>
	<integer>150000</integer>
	<key>soundsEffectSwitch</key>
	<true/>
	<key>backgroundMusicSwitch</key>
	<true/>
	<key>soundsEffectVolume</key>
	<real>0.5</real>
	<key>backgroundMusicVolume</key>
	<real>0.05</real>
	<key>characters</key>
	<array>
		<dict>
			<key>id</key>
			<string>001</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>002</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>003</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>004</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>005</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>006</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>007</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>008</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>009</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>heros</key>
	<array>
		<dict>
			<key>id</key>
			<string>203</string>
			<key>level</key>
			<string>1</string>
		</dict>
	</array>
	<key>castle</key>
	<array>
		<dict>
			<key>id</key>
			<string>401</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>battleTeam</key>
	<array/>
	<key>items</key>
	<array/>
	<key>magicTeam</key>
	<array>
		<dict>
			<key>id</key>
			<string>901</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>id</key>
			<string>902</string>
			<key>level</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>01_01_completed</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>0</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_01</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_02_completed</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>0</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_02</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_01_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_01</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_02_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_02</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_03_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_03</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_04_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_04</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_05_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_05</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_06_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_06</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_07_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_07</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_08_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_08</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_09_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_09</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_10_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_10</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_11_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_11</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_12_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_12</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_13_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_13</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_14_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_14</string>
				<string>star</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>01_15_star</string>
			<key>value</key>
			<integer>0</integer>
			<key>activation</key>
			<string>&gt;</string>
			<key>initialValue</key>
			<integer>0</integer>
			<key>activationValue</key>
			<integer>2</integer>
			<key>tags</key>
			<array>
				<string>page01</string>
				<string>01_15</string>
				<string>star</string>
			</array>
		</dict>
	</array>
	<key>achievements</key>
	<array>
		<dict>
			<key>name</key>
			<string>01_01</string>
			<key>message</key>
			<string>1-1 is unlocked.</string>
			<key>content</key>
			<string>Battle 1-1.</string>
			<key>unLocked</key>
			<true/>
			<key>propertyNames</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>01_02</string>
			<key>message</key>
			<string>Congratulations, You&apos;ve Just Passed 1-1. 1-2 is unlocked.</string>
			<key>content</key>
			<string>Battle 1-2.</string>
			<key>unLocked</key>
			<false/>
			<key>propertyNames</key>
			<array>
				<string>01_01_completed</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>AllCompleted</string>
			<key>message</key>
			<string>Congratulations, You are great.</string>
			<key>content</key>
			<string>Please Pass All Battle and Get All Stars.</string>
			<key>unLocked</key>
			<false/>
			<key>propertyNames</key>
			<array>
				<string>01_01_completed</string>
				<string>01_02_completed</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>AllStars</string>
			<key>message</key>
			<string>Congratulations, You are great.</string>
			<key>content</key>
			<string>Please Pass All Battle and Get All Stars.</string>
			<key>unLocked</key>
			<false/>
			<key>propertyNames</key>
			<array>
				<string>01_01_star</string>
				<string>01_02_star</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
