<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>001</string>
		<key>name</key>
		<string>battle_01_01</string>
		<key>map</key>
		<string>map_01.png</string>
		<key>backgroundMusic</key>
		<string>bgm_ffcd_b.caf</string>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>10</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>15</string>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>012</string>
				<key>level</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>002</string>
		<key>name</key>
		<string>battle_01_02</string>
		<key>map</key>
		<string>map_01.png</string>
		<key>backgroundMusic</key>
		<string>bgm_ffcd_b.caf</string>
		<key>enemies</key>
		<array>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>1</string>
			</dict>
		</array>
		<key>bosses</key>
		<array>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>10</string>
			</dict>
			<dict>
				<key>id</key>
				<string>001</string>
				<key>level</key>
				<string>15</string>
			</dict>
		</array>
		<key>castle</key>
		<array>
			<dict>
				<key>id</key>
				<string>010</string>
				<key>level</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
