<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>001</string>
		<key>name</key>
		<string>Swordsman</string>
		<key>cost</key>
		<string>20</string>
		<key>image</key>
		<string>amg1</string>
		<key>headImage</key>
		<string>swordsmanHead32.png</string>
		<key>attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>maxHp</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>250</string>
			</dict>
			<dict>
				<key>name</key>
				<string>maxMp</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>attack</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>25</string>
			</dict>
			<dict>
				<key>name</key>
				<string>defense</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>agile</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>15</string>
			</dict>
			<dict>
				<key>name</key>
				<string>speed</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>11</string>
			</dict>
			<dict>
				<key>name</key>
				<string>moveTime</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>6</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>009</string>
		<key>name</key>
		<string>Tower</string>
		<key>cost</key>
		<string>0</string>
		<key>image</key>
		<string>Tower</string>
		<key>headImage</key>
		<string>Tower.png</string>
		<key>attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>maxHp</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>2500</string>
			</dict>
			<dict>
				<key>name</key>
				<string>maxMp</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>attack</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>defense</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>agile</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>speed</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>moveTime</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>010</string>
		<key>name</key>
		<string>Tower2</string>
		<key>cost</key>
		<string>0</string>
		<key>image</key>
		<string>Tower2</string>
		<key>headImage</key>
		<string>Tower2.png</string>
		<key>attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>maxHp</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>2500</string>
			</dict>
			<dict>
				<key>name</key>
				<string>maxMp</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>attack</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>defense</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>agile</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>speed</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
			<dict>
				<key>name</key>
				<string>moveTime</string>
				<key>a</key>
				<string>0</string>
				<key>b</key>
				<string>0</string>
				<key>c</key>
				<string>0</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
