<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,106},{76,102}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>01-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,104}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>01-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,102}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>01-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,102}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>01-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{100,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PolarBear.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57aa084d0d8bc45bb1ab7ccfe875c97e$</string>
            <key>textureFileName</key>
            <string>PolarBear.png</string>
        </dict>
    </dict>
</plist>
