<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baby_penguin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,208},{46,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
            <key>baby_penguin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,276},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>baby_penguin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,208},{44,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,57}}</string>
                <key>sourceSize</key>
                <string>{44,57}</string>
            </dict>
            <key>baby_penguin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,202},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,57}</string>
            </dict>
            <key>baby_penguin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,150},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,56}}</string>
                <key>sourceSize</key>
                <string>{59,56}</string>
            </dict>
            <key>jiager_penguin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{79,70}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{79,70}}</string>
                <key>sourceSize</key>
                <string>{79,70}</string>
            </dict>
            <key>jiager_penguin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,70}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{89,70}}</string>
                <key>sourceSize</key>
                <string>{89,70}</string>
            </dict>
            <key>jiager_penguin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,72}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{89,72}}</string>
                <key>sourceSize</key>
                <string>{89,72}</string>
            </dict>
            <key>jiager_penguin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,74},{87,74}}</string>
                <key>offset</key>
                <string>{14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{87,74}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>jiager_penguin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{71,78}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{71,78}}</string>
                <key>sourceSize</key>
                <string>{71,78}</string>
            </dict>
            <key>jiager_penguin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{87,74}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{87,74}}</string>
                <key>sourceSize</key>
                <string>{87,74}</string>
            </dict>
            <key>jiager_penguin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{85,60}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{85,60}}</string>
                <key>sourceSize</key>
                <string>{85,60}</string>
            </dict>
            <key>ninja_penguin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,278},{46,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>ninja_penguin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,78},{62,64}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>ninja_penguin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,210},{56,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>ninja_penguin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,68},{62,64}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>ninja_penguin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,208},{56,66}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>ninja_penguin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,82},{48,66}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{48,66}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
            <key>ninja_penguin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{80,64}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>ninja_penguin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{80,64}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{80,64}}</string>
                <key>sourceSize</key>
                <string>{80,64}</string>
            </dict>
            <key>sleep_penguin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,146},{59,62}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sleep_penguin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,198},{59,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sleep_penguin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,138},{59,62}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sleep_penguin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,82},{59,62}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sleep_penguin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{59,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sleep_penguin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,150},{59,62}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sleep_penguin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,144},{59,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sleep_penguin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,134},{59,62}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,62}</string>
            </dict>
            <key>sleep_penguin_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,74},{61,62}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>sleep_penguin_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,261},{53,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>penguin.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b8dc1ac3d076afd1790b4cc8294be42$</string>
            <key>textureFileName</key>
            <string>penguin.pvr.ccz</string>
        </dict>
    </dict>
</plist>
