<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>army_bear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,634},{200,194}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,2},{200,194}}</string>
                <key>sourceSize</key>
                <string>{200,194}</string>
            </dict>
            <key>army_bear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,955},{182,188}}</string>
                <key>offset</key>
                <string>{-57,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,8},{182,188}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>army_bear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,767},{188,186}}</string>
                <key>offset</key>
                <string>{-54,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,10},{188,186}}</string>
                <key>sourceSize</key>
                <string>{188,186}</string>
            </dict>
            <key>army_bear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{192,188}}</string>
                <key>offset</key>
                <string>{-52,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,8},{192,188}}</string>
                <key>sourceSize</key>
                <string>{192,188}</string>
            </dict>
            <key>army_bear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,446},{202,186}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,10},{202,186}}</string>
                <key>sourceSize</key>
                <string>{202,186}</string>
            </dict>
            <key>army_bear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{278,186}}</string>
                <key>offset</key>
                <string>{-92,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{278,186}}</string>
                <key>sourceSize</key>
                <string>{278,186}</string>
            </dict>
            <key>army_bear_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{222,186}}</string>
                <key>offset</key>
                <string>{-64,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{222,186}}</string>
                <key>sourceSize</key>
                <string>{222,186}</string>
            </dict>
            <key>baby_bear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1326},{144,134}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>baby_bear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1253},{144,134}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>baby_bear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1052},{144,136}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,1},{144,136}}</string>
                <key>sourceSize</key>
                <string>{144,136}</string>
            </dict>
            <key>baby_bear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,1190},{144,134}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{144,134}</string>
            </dict>
            <key>baby_bear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,916},{188,134}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{188,134}}</string>
                <key>sourceSize</key>
                <string>{188,134}</string>
            </dict>
            <key>baby_bear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,780},{188,134}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{188,134}}</string>
                <key>sourceSize</key>
                <string>{188,134}</string>
            </dict>
            <key>boxer_bear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1214},{149,203}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{149,203}}</string>
                <key>sourceSize</key>
                <string>{149,203}</string>
            </dict>
            <key>boxer_bear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1145},{149,205}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{149,205}}</string>
                <key>sourceSize</key>
                <string>{149,205}</string>
            </dict>
            <key>boxer_bear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1190},{153,209}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{153,209}}</string>
                <key>sourceSize</key>
                <string>{153,209}</string>
            </dict>
            <key>boxer_bear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1052},{153,203}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{153,203}}</string>
                <key>sourceSize</key>
                <string>{153,203}</string>
            </dict>
            <key>boxer_bear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{201,203}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{201,203}}</string>
                <key>sourceSize</key>
                <string>{201,203}</string>
            </dict>
            <key>fat_bear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,190},{204,198}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,66},{204,198}}</string>
                <key>sourceSize</key>
                <string>{204,198}</string>
            </dict>
            <key>fat_bear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,390},{204,196}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,68},{204,196}}</string>
                <key>sourceSize</key>
                <string>{204,196}</string>
            </dict>
            <key>fat_bear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{216,194}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,67},{216,194}}</string>
                <key>sourceSize</key>
                <string>{216,194}</string>
            </dict>
            <key>fat_bear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,586},{204,192}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,69},{204,192}}</string>
                <key>sourceSize</key>
                <string>{204,192}</string>
            </dict>
            <key>fat_bear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,390},{204,194}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,67},{204,194}}</string>
                <key>sourceSize</key>
                <string>{204,194}</string>
            </dict>
            <key>fat_bear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,190},{204,198}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,66},{204,198}}</string>
                <key>sourceSize</key>
                <string>{204,198}</string>
            </dict>
            <key>fat_bear_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,184},{236,260}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,4},{236,260}}</string>
                <key>sourceSize</key>
                <string>{236,260}</string>
            </dict>
            <key>fat_bear_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,208}}</string>
                <key>offset</key>
                <string>{-57,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,53},{318,208}}</string>
                <key>sourceSize</key>
                <string>{318,208}</string>
            </dict>
            <key>fat_bear_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{318,180}}</string>
                <key>offset</key>
                <string>{-57,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,82},{318,180}}</string>
                <key>sourceSize</key>
                <string>{318,180}</string>
            </dict>
            <key>punk_bear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,446},{112,197}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,8},{112,197}}</string>
                <key>sourceSize</key>
                <string>{112,197}</string>
            </dict>
            <key>punk_bear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1257},{142,201}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,4},{142,201}}</string>
                <key>sourceSize</key>
                <string>{142,201}</string>
            </dict>
            <key>punk_bear_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1009},{160,203}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,2},{160,203}}</string>
                <key>sourceSize</key>
                <string>{160,203}</string>
            </dict>
            <key>punk_bear_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,991},{188,197}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,8},{188,197}}</string>
                <key>sourceSize</key>
                <string>{188,197}</string>
            </dict>
            <key>punk_bear_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1052},{144,199}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,6},{144,199}}</string>
                <key>sourceSize</key>
                <string>{144,199}</string>
            </dict>
            <key>punk_bear_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,645},{110,201}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,4},{110,201}}</string>
                <key>sourceSize</key>
                <string>{110,201}</string>
            </dict>
            <key>punk_bear_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1401},{146,195}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,10},{146,195}}</string>
                <key>sourceSize</key>
                <string>{146,195}</string>
            </dict>
            <key>punk_bear_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1352},{138,205}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,0},{138,205}}</string>
                <key>sourceSize</key>
                <string>{138,205}</string>
            </dict>
            <key>punk_bear_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,830},{192,177}}</string>
                <key>offset</key>
                <string>{-45,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{192,177}}</string>
                <key>sourceSize</key>
                <string>{192,177}</string>
            </dict>
            <key>punk_bear_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,588},{192,177}}</string>
                <key>offset</key>
                <string>{-45,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{192,177}}</string>
                <key>sourceSize</key>
                <string>{192,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>polar_bear-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c04e7dfc07ba5f1b2760ab2de4908e06$</string>
            <key>textureFileName</key>
            <string>polar_bear-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
