<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>angle</key>
	<string>0.00</string>
	<key>angleVariance</key>
	<integer>360</integer>
	<key>blendFuncDestination</key>
	<string>1</string>
	<key>blendFuncSource</key>
	<string>770</string>
	<key>duration</key>
	<string>0.200</string>
	<key>emitterType</key>
	<integer>0</integer>
	<key>finishColorAlpha</key>
	<integer>1</integer>
	<key>finishColorBlue</key>
	<integer>0</integer>
	<key>finishColorGreen</key>
	<integer>0</integer>
	<key>finishColorRed</key>
	<real>1</real>
	<key>finishColorVarianceAlpha</key>
	<integer>0</integer>
	<key>finishColorVarianceBlue</key>
	<integer>0</integer>
	<key>finishColorVarianceGreen</key>
	<integer>0</integer>
	<key>finishColorVarianceRed</key>
	<integer>0</integer>
	<key>finishParticleSize</key>
	<string>0.00</string>
	<key>finishParticleSizeVariance</key>
	<integer>0</integer>
	<key>gravityx</key>
	<string>0.0</string>
	<key>gravityy</key>
	<string>0.0</string>
	<key>maxParticles</key>
	<string>500.00</string>
	<key>maxRadius</key>
	<string>10</string>
	<key>maxRadiusVariance</key>
	<string>5</string>
	<key>minRadius</key>
	<string>10</string>
	<key>particleLifespan</key>
	<real>0</real>
	<key>particleLifespanVariance</key>
	<string>0.5</string>
	<key>radialAccelVariance</key>
	<integer>0</integer>
	<key>radialAcceleration</key>
	<integer>0</integer>
	<key>rotatePerSecond</key>
	<string>5</string>
	<key>rotatePerSecondVariance</key>
	<string>5</string>
	<key>rotationStart</key>
	<string>0.0</string>
	<key>sourcePositionVariancex</key>
	<string>0.0</string>
	<key>sourcePositionVariancey</key>
	<real>0</real>
	<key>sourcePositionx</key>
	<string>155.0</string>
	<key>sourcePositiony</key>
	<string>240.0</string>
	<key>speed</key>
	<integer>50</integer>
	<key>speedVariance</key>
	<integer>50</integer>
	<key>startColorAlpha</key>
	<string>1</string>
	<key>startColorBlue</key>
	<string>0.000</string>
	<key>startColorGreen</key>
	<string>0.000</string>
	<key>startColorRed</key>
	<real>1</real>
	<key>startColorVarianceAlpha</key>
	<real>0</real>
	<key>startColorVarianceBlue</key>
	<string>0.000</string>
	<key>startColorVarianceGreen</key>
	<string>0.000</string>
	<key>startColorVarianceRed</key>
	<real>0</real>
	<key>startParticleSize</key>
	<string>20.00</string>
	<key>startParticleSizeVariance</key>
	<integer>0</integer>
	<key>tangentialAccelVariance</key>
	<integer>0</integer>
	<key>tangentialAcceleration</key>
	<integer>0</integer>
	<key>textureFileName</key>
	<string></string>
	<key>textureImageData</key>
	<string></string>
</dict>
</plist>
