<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minotaur_attack_e001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,230},{60,84}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,19},{60,84}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_e002.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,456},{54,76}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,27},{54,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_e003.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,292},{82,70}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,33},{82,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_e004.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,310},{80,68}}</string>
                <key>offset</key>
                <string>{23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,34},{80,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_n001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,152},{84,74}}</string>
                <key>offset</key>
                <string>{22,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{84,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_n002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{84,82}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,18},{84,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_n003.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,424},{58,80}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,22},{58,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_n004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,494},{52,74}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,29},{52,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_s001.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,84},{88,72}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{88,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_s002.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{88,80}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{88,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_s003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{60,66}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,51},{60,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_s004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,506},{54,72}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,52},{54,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_w001.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,228},{60,86}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,18},{60,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_w002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,106}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{54,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_w003.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,158},{84,68}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{84,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_attack_w004.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,392},{80,62}}</string>
                <key>offset</key>
                <string>{-19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,41},{80,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_e001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,154},{86,72}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{86,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_e002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{82,74}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{82,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_e003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{88,76}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{88,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_e004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,76},{88,76}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{88,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_e005.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{88,74}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,34},{88,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_e006.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,72},{88,76}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{88,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_e007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,150},{86,78}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{86,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_e008.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,290},{82,76}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{82,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_n001.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,364},{62,82}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,26},{62,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_n002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,362},{62,82}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,23},{62,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_n003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,440},{64,78}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,22},{64,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_n004.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,296},{64,82}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,24},{64,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_n005.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,294},{64,82}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,26},{64,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_n006.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,228},{64,82}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{64,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_n007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,428},{64,78}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,22},{64,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_n008.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,360},{62,82}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{62,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_s001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,548},{66,62}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{66,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_s002.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,512},{62,62}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,46},{62,62}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_s003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{66,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,29},{66,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_s004.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,484},{68,74}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{68,74}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_s005.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,228},{68,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{68,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_s006.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,426},{70,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,25},{70,78}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_s007.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,498},{68,66}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{68,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_s008.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,562},{66,60}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,47},{66,60}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_w001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,228},{84,66}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,35},{84,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_w002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{80,70}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,32},{80,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_w003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,78},{88,72}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,29},{88,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_w004.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{90,72}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{90,72}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_w005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{90,68}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{90,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_w006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{90,70}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{90,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_w007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{86,66}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,29},{86,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>minotaur_walking_w008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,368},{80,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,31},{80,70}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Minotaur-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:341872ab82e704e39276228561ce0008$</string>
            <key>textureFileName</key>
            <string>Minotaur-hd.png</string>
        </dict>
    </dict>
</plist>
