<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>upAction</key>
	<dict>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_walking_n0%02d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>8</string>
		</dict>
	</dict>
	<key>downAction</key>
	<dict>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_walking_s0%02d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>8</string>
		</dict>
	</dict>
	<key>rightAction</key>
	<dict>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_walking_e0%02d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>8</string>
		</dict>
	</dict>
	<key>leftAction</key>
	<dict>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_walking_w0%02d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>8</string>
		</dict>
	</dict>
	<key>upAttackAction</key>
	<dict>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_attack_n0%02d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>4</string>
		</dict>
	</dict>
	<key>downAttackAction</key>
	<dict>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_attack_s0%02d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>4</string>
		</dict>
	</dict>
	<key>rightAttackAction</key>
	<dict>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_attack_e0%02d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>4</string>
		</dict>
	</dict>
	<key>leftAttackAction</key>
	<dict>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_attack_w0%02d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>
