<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rotateAttack</key>
	<dict>
		<key>RestoreOriginalFrame</key>
		<true/>
		<key>Duration</key>
		<real>0.1</real>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<array>
			<string>minotaur_attack_w002.png</string>
			<string>minotaur_attack_n002.png</string>
			<string>minotaur_attack_e002.png</string>
			<string>minotaur_attack_s002.png</string>
		</array>
	</dict>
	<key>upAction</key>
	<dict>
		<key>Duration</key>
		<real>0.1</real>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_walking_n%03d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>8</string>
		</dict>
	</dict>
	<key>downAction</key>
	<dict>
		<key>Duration</key>
		<real>0.1</real>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_walking_s%03d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>8</string>
		</dict>
	</dict>
	<key>rightAction</key>
	<dict>
		<key>Duration</key>
		<real>0.1</real>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_walking_e%03d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>8</string>
		</dict>
	</dict>
	<key>leftAction</key>
	<dict>
		<key>Duration</key>
		<real>0.1</real>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_walking_w%03d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>8</string>
		</dict>
	</dict>
	<key>upAttackAction</key>
	<dict>
		<key>RestoreOriginalFrame</key>
		<true/>
		<key>Duration</key>
		<real>0.1</real>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_attack_n%03d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>4</string>
		</dict>
	</dict>
	<key>downAttackAction</key>
	<dict>
		<key>RestoreOriginalFrame</key>
		<true/>
		<key>Duration</key>
		<real>0.1</real>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_attack_s%03d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>4</string>
		</dict>
	</dict>
	<key>leftAttackAction</key>
	<dict>
		<key>RestoreOriginalFrame</key>
		<true/>
		<key>Duration</key>
		<real>0.1</real>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_attack_w%03d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>4</string>
		</dict>
	</dict>
	<key>rightAttackAction</key>
	<dict>
		<key>RestoreOriginalFrame</key>
		<true/>
		<key>Duration</key>
		<real>0.1</real>
		<key>Atlas</key>
		<string>Minotaur.plist</string>
		<key>Frames</key>
		<dict>
			<key>Format</key>
			<string>minotaur_attack_e%03d.png</string>
			<key>StartIndex</key>
			<string>1</string>
			<key>EndIndex</key>
			<string>4</string>
		</dict>
	</dict>
</dict>
</plist>
