<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AnimationSet</key>
	<string>Swordsman/swordsman_Atlas_Animation.plist</string>
	<key>Clip</key>
	<dict>
		<key>Type</key>
		<string>Spawn</string>
		<key>Items</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Sequence</string>
				<key>Items</key>
				<array>
					<dict>
						<key>Type</key>
						<string>SoundEffect</string>
						<key>File</key>
						<string>Swordsman/SwordsmanWalking.caf</string>
					</dict>
					<dict>
						<key>Type</key>
						<string>Delay</string>
						<key>Duration</key>
						<real>0.1</real>
					</dict>
					<dict>
						<key>Type</key>
						<string>SoundEffect</string>
						<key>File</key>
						<string>Swordsman/SwordsmanWalking.caf</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>Type</key>
				<string>Animation</string>
				<key>Name</key>
				<string>downAction</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
