<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ninja_penguin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,624},{92,132}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,0},{92,132}}</string>
                <key>sourceSize</key>
                <string>{224,132}</string>
            </dict>
            <key>ninja_penguin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{124,128}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{124,128}}</string>
                <key>sourceSize</key>
                <string>{224,132}</string>
            </dict>
            <key>ninja_penguin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{112,130}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{112,130}}</string>
                <key>sourceSize</key>
                <string>{224,132}</string>
            </dict>
            <key>ninja_penguin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{124,128}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{124,128}}</string>
                <key>sourceSize</key>
                <string>{224,132}</string>
            </dict>
            <key>ninja_penguin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,506},{112,132}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{112,132}}</string>
                <key>sourceSize</key>
                <string>{224,132}</string>
            </dict>
            <key>ninja_penguin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,612},{94,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,0},{94,132}}</string>
                <key>sourceSize</key>
                <string>{224,132}</string>
            </dict>
            <key>ninja_penguin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,126}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,6},{158,126}}</string>
                <key>sourceSize</key>
                <string>{224,132}</string>
            </dict>
            <key>ninja_penguin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,126}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,6},{158,126}}</string>
                <key>sourceSize</key>
                <string>{224,132}</string>
            </dict>
            <key>penguin-01-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,746},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>penguin-01-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,508},{99,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,114}}</string>
                <key>sourceSize</key>
                <string>{99,114}</string>
            </dict>
            <key>penguin-01-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,746},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>penguin-01-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,746},{88,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{88,114}</string>
            </dict>
            <key>penguin-01-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,132},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>penguin-01-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,248},{117,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,112}}</string>
                <key>sourceSize</key>
                <string>{117,112}</string>
            </dict>
            <key>penguin-02-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,384},{116,122}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{116,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,380},{116,124}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{116,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{118,122}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{118,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,362},{116,122}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{116,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,258},{116,124}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{116,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,132},{118,124}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{118,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{116,122}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{116,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,256},{118,122}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{118,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,130},{118,124}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{118,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,486},{106,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{106,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>penguin-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a11954558d411de06ab0267173758df2$</string>
            <key>textureFileName</key>
            <string>penguin-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
