<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penguin-01-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,374},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>penguin-01-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,374},{99,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,114}}</string>
                <key>sourceSize</key>
                <string>{99,114}</string>
            </dict>
            <key>penguin-01-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,374},{92,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,114}}</string>
                <key>sourceSize</key>
                <string>{92,114}</string>
            </dict>
            <key>penguin-01-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,250},{88,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{88,114}</string>
            </dict>
            <key>penguin-01-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{117,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>penguin-01-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,118},{117,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,112}}</string>
                <key>sourceSize</key>
                <string>{117,112}</string>
            </dict>
            <key>penguin-02-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,126},{116,122}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{116,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{116,124}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{116,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,122}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{118,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,250},{116,122}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{116,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{116,124}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{116,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{118,124}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{118,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,126},{116,122}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{116,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,380},{118,122}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{118,122}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,124}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{118,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
            <key>penguin-02-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,254},{106,124}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{106,124}}</string>
                <key>sourceSize</key>
                <string>{138,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>penguin-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19abf5a3da4650f263bba351333ee801$</string>
            <key>textureFileName</key>
            <string>penguin-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
