<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>polar-bear-01-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,974},{149,203}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{149,203}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,916},{149,205}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{149,205}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,824},{153,209}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{153,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,989},{153,203}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{153,203}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,824},{153,209}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{153,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,916},{149,205}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{149,205}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{201,203}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{201,203}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-02-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,588},{200,194}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,2},{200,194}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,784},{182,188}}</string>
                <key>offset</key>
                <string>{-57,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,8},{182,188}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,801},{188,186}}</string>
                <key>offset</key>
                <string>{-54,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,10},{188,186}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,634},{192,188}}</string>
                <key>offset</key>
                <string>{-52,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,8},{192,188}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,446},{202,186}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,10},{202,186}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{278,186}}</string>
                <key>offset</key>
                <string>{-92,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{278,186}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{222,186}}</string>
                <key>offset</key>
                <string>{-64,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{222,186}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-03-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,916},{144,134}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{144,134}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1035},{144,136}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,1},{144,136}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1173},{144,134}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1173},{144,134}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1173},{144,134}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,780},{188,134}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{188,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,780},{188,134}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{188,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-04-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,190},{204,198}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,66},{204,198}}</string>
                <key>sourceSize</key>
                <string>{436,266}</string>
            </dict>
            <key>polar-bear-04-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,390},{204,196}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,68},{204,196}}</string>
                <key>sourceSize</key>
                <string>{436,266}</string>
            </dict>
            <key>polar-bear-04-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{216,194}}</string>
                <key>offset</key>
                <string>{6,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,67},{216,194}}</string>
                <key>sourceSize</key>
                <string>{436,266}</string>
            </dict>
            <key>polar-bear-04-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,586},{204,192}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,69},{204,192}}</string>
                <key>sourceSize</key>
                <string>{436,266}</string>
            </dict>
            <key>polar-bear-04-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,390},{204,194}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,67},{204,194}}</string>
                <key>sourceSize</key>
                <string>{436,266}</string>
            </dict>
            <key>polar-bear-04-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,190},{204,198}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,66},{204,198}}</string>
                <key>sourceSize</key>
                <string>{436,266}</string>
            </dict>
            <key>polar-bear-04-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,184},{236,260}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,4},{236,260}}</string>
                <key>sourceSize</key>
                <string>{436,266}</string>
            </dict>
            <key>polar-bear-04-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,208}}</string>
                <key>offset</key>
                <string>{-57,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,53},{318,208}}</string>
                <key>sourceSize</key>
                <string>{436,266}</string>
            </dict>
            <key>polar-bear-04-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{318,180}}</string>
                <key>offset</key>
                <string>{-57,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,82},{318,180}}</string>
                <key>sourceSize</key>
                <string>{436,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>polar-bear-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20bac0e0768db65fec18f40f33fc492e$</string>
            <key>textureFileName</key>
            <string>polar-bear-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
