<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>polar-bear-01-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,585},{149,203}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{149,203}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{149,205}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{149,205}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,378},{153,209}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{153,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,380},{153,203}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,3},{153,203}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,378},{153,209}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{153,209}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{149,205}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,4},{149,205}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-01-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{201,203}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{201,203}}</string>
                <key>sourceSize</key>
                <string>{209,209}</string>
            </dict>
            <key>polar-bear-02-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{200,194}}</string>
                <key>offset</key>
                <string>{-53,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,2},{200,194}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,343},{182,188}}</string>
                <key>offset</key>
                <string>{-57,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,8},{182,188}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,190},{188,186}}</string>
                <key>offset</key>
                <string>{-54,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,10},{188,186}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,190},{192,188}}</string>
                <key>offset</key>
                <string>{-52,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,8},{192,188}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{202,186}}</string>
                <key>offset</key>
                <string>{-48,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,10},{202,186}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,186}}</string>
                <key>offset</key>
                <string>{-92,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{278,186}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-02-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{222,186}}</string>
                <key>offset</key>
                <string>{-64,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{222,186}}</string>
                <key>sourceSize</key>
                <string>{462,198}</string>
            </dict>
            <key>polar-bear-03-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,790},{144,134}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,867},{144,134}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{144,136}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,1},{144,136}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{144,134}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{144,134}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{144,134}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,3},{144,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,207},{188,134}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{188,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
            <key>polar-bear-03-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,207},{188,134}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{188,134}}</string>
                <key>sourceSize</key>
                <string>{258,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>polar-bear-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86bafc0741b3cb2f98a86969cce86682$</string>
            <key>textureFileName</key>
            <string>polar-bear-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
