<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>polar-bear-01-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,289},{76,102}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{76,102}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{76,104}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{76,102}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{76,104}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{76,102}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,97},{100,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-02-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{101,97}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{101,97}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,192},{93,95}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{93,95}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,97},{95,93}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{95,93}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{97,95}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,3},{97,95}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{101,93}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{101,93}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,93}}</string>
                <key>offset</key>
                <string>{-46,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{139,93}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{111,93}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{111,93}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-03-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,359},{73,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,289},{73,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,393},{73,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,393},{73,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,393},{73,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,393},{73,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,171},{95,68}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,101},{95,68}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>polar-bear.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e6d720b1fa1745e947fc1f82b00b33f$</string>
            <key>textureFileName</key>
            <string>polar-bear.pvr.ccz</string>
        </dict>
    </dict>
</plist>
