<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>polar-bear-01-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,500},{76,102}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,468},{76,102}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,424},{76,104}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{76,102}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,424},{76,104}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{76,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,468},{76,102}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{76,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-01-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,299},{100,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,102}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>polar-bear-02-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,228},{101,97}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,1},{101,97}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,403},{93,95}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,3},{93,95}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{95,93}}</string>
                <key>offset</key>
                <string>{-27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{95,93}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,327},{97,95}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,3},{97,95}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{101,93}}</string>
                <key>offset</key>
                <string>{-24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{101,93}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{139,93}}</string>
                <key>offset</key>
                <string>{-46,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{139,93}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-02-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{111,93}}</string>
                <key>offset</key>
                <string>{-32,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,5},{111,93}}</string>
                <key>sourceSize</key>
                <string>{231,99}</string>
            </dict>
            <key>polar-bear-03-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{73,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,600},{73,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{73,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,530},{73,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,530},{73,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,530},{73,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,398},{95,68}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-03-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,398},{95,68}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{95,68}}</string>
                <key>sourceSize</key>
                <string>{129,70}</string>
            </dict>
            <key>polar-bear-04-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,297},{102,99}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,33},{102,99}}</string>
                <key>sourceSize</key>
                <string>{218,133}</string>
            </dict>
            <key>polar-bear-04-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,97},{104,99}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,33},{104,99}}</string>
                <key>sourceSize</key>
                <string>{218,133}</string>
            </dict>
            <key>polar-bear-04-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{108,97}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,34},{108,97}}</string>
                <key>sourceSize</key>
                <string>{218,133}</string>
            </dict>
            <key>polar-bear-04-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,97},{104,97}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,34},{104,97}}</string>
                <key>sourceSize</key>
                <string>{218,133}</string>
            </dict>
            <key>polar-bear-04-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,198},{102,99}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,32},{102,99}}</string>
                <key>sourceSize</key>
                <string>{218,133}</string>
            </dict>
            <key>polar-bear-04-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,196},{102,99}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,33},{102,99}}</string>
                <key>sourceSize</key>
                <string>{218,133}</string>
            </dict>
            <key>polar-bear-04-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,95},{118,131}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,1},{118,131}}</string>
                <key>sourceSize</key>
                <string>{218,133}</string>
            </dict>
            <key>polar-bear-04-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,105}}</string>
                <key>offset</key>
                <string>{-29,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{160,105}}</string>
                <key>sourceSize</key>
                <string>{218,133}</string>
            </dict>
            <key>polar-bear-04-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,91}}</string>
                <key>offset</key>
                <string>{-29,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{160,91}}</string>
                <key>sourceSize</key>
                <string>{218,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>polar-bear.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eccf9fc5599720e12a96674c26e50de5$</string>
            <key>textureFileName</key>
            <string>polar-bear.pvr.ccz</string>
        </dict>
    </dict>
</plist>
